@charset "UTF-8";
.carousel-control-prev-icon:hover, .carousel-control-next-icon:hover {
    background-color: rgba(200, 200, 200, 0.2);
    border-radius: 30%;
    box-shadow: rgba(255, 255, 255, 0.12) 0px 2px 4px 0px, rgba(255, 255, 255, 0.32) 0px 2px 16px 0px;
}