:root {
    --color-0: #FFFFFF;
    --color-1: #000000;
    --color-2: #5072A5;
    --color-3: #0C2750;
    --color-4: #F7F5FA;
    --color-5: #27487A;
    --color-6: #88A4CF;
    --color-7: #00EEFF;
}

/*  */
.offcanvas.offcanvas-end, .offcanvas.offcanvas-end.show {
	width: 250px;
}

.offcanvas.offcanvas-end .offcanvas-header {
    padding-bottom: 12px;
    padding-top: 12px;
	background-color: var(--color-5);
}

.offcanvas.offcanvas-end .offcanvas-header b{
	color: var(--color-0);
}

.offcanvas.offcanvas-end .offcanvas-body {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 20px;
    scrollbar-width: thin;
    scrollbar-color: var(--color-3) #e0e0e0;
}

.offcanvas.offcanvas-end .offcanvas-body::-webkit-scrollbar-track {
    border-radius: 100px;
}

.offcanvas.offcanvas-end .offcanvas-body::-webkit-scrollbar-thumb {
    border-radius: 100px;
}

.bg_collection .card {
	border-radius: 10px;
	border: none;
	padding-bottom: 1rem !important;
}

.left-content {
	background-color: var(--color-4);
	color: var(--color-1);
}

.text-color {
	color: var(--color-4);
}

.title_page, .title-head {
	font-weight: 400;
}

.title-head {
	font-size: 1rem;
	margin-bottom: 14px;
	text-transform: uppercase;
	font-weight: bold;
}

.aside-filter ul {
	padding-left: 0;
	list-style: none;
	margin: 0px;
}

aside .aside-title {
    padding-left: 1.7rem;
}

aside.aside-item {
	padding-top: 15px;
}

aside.aside-item + .aside-item {
	border-top: 1px solid var(--color-0);
	margin-top: 15px;
}

.custom-checkbox {
	position: relative;
	display: flex;
    column-gap: 2px;
    justify-content: start;
    align-items: center;
	min-height: 1.5rem;
	padding-left: 1.7rem;
	font-weight: 500;
}

.aside-content .filter-item {
	position: relative;
	clear: left;
	font-size: 14px;
	padding: 0;
}

.aside-content .filter-item:last-child {
	border-bottom: none;
}

.aside-content .filter-item .btn {
	padding: 0px 4px;
	font-size: 10px;
	border-radius: 10px;
	border: 1px solid var(--color-1);
	margin-right: 5px;
}

.aside-content .filter-item a {
	font-size: 14px;
	font-weight: 600;
	line-height: 1.7;
	padding: 5px 20px 2px 0px;
}

.aside-content .filter-item .dropdown-menu {
	width: 100%;
	border: 0;
	padding-left: 0px;
	box-shadow: none;
	margin-top: 0px;
	padding: 0px;
	position: static;
	background: none;
}

.aside-content .filter-item.active > .dropdown-menu {
	display: block;
}

.aside-content .filter-item:hover > a {
	color: #333;
	background-color: transparent;
}

.aside-content .filter-item ul > li:before {
	top: 17px;
	left: 15px;
}

/*  */
.section.wrap_background {
    margin-bottom: 5px;
}

.sort-cate ul {
	padding-left: 0;
	list-style: none;
	margin: 0px;
}

@media (max-width: 1023px) {
	.sort-cate {
		--border-color: #eee;
		font-size: 12px;
	}

	.sort-cate li {
		margin: 0 auto;
		outline: none;
		position: relative;
		width: 120px;
		padding: 0 10px;
		color: var(--text-color);
		font-size: 12px;
		cursor: pointer;
		border: 1px solid var(--border-color);
		border-radius: 6px;
	}

	.sort-cate #sort-by {
		/*background: #fff;*/
		padding-bottom: 0;
		margin-right: 5px;
	}

	.sort-cate #sort-by > ul > li {
		line-height: 34px;
	}

	.sort-cate #sort-by > ul > li .fas {
		position: absolute;
		top: 10px;
		right: 10px;
	}

	.sort-cate #sort-by > ul > li:hover {
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
		box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
	}

	.sort-cate #sort-by > ul > li:hover > ul {
		visibility: visible;
	}

	.sort-cate #sort-by li > ul {
		position: absolute;
		visibility: hidden;
		width: 120px;
		left: -1px;
		top: 34px;
		z-index: 9999;
		border: 1px solid var(--border-color);
		border-radius: 0px 0px 6px 6px;
		overflow: hidden;
		background: #fff;
	}

	.sort-cate #sort-by li > ul li {
		border-top: none;
		border-right: none;
		border-left: none;
		border-radius: 0px;
	}

	.sort-cate #sort-by li > ul li:hover a {
		color: var(--primary-color);
	}
}

@media (min-width: 1024px) {
	/* #recent-view-coll {
		margin-bottom: 50px;
	} */
	
    .sort-cate .fas {
		display: none;
	}
	
    .sort-cate .content_ul li {
		display: inline-block;
	}
	
    .sort-cate .content_ul li a {
		font-weight: 400;
		color: #898989;
		padding: 9px 10px 11px;
		display: inline-block;
	}
	
    .sort-cate .content_ul li:hover, .sort-cate .content_ul li.active {
		border-bottom: 2px solid var(--primary-color);
		margin-bottom: -2px;
	}
	
    .sort-cate .content_ul li:hover a, .sort-cate .content_ul li.active a {
		color: var(--primary-color);
	}
}

@media (max-width: 991px) {
	.aside-content {
		overflow: auto;
 	}

	.aside-content::-webkit-scrollbar {
		width: 3px;
 	}

	.aside-content::-webkit-scrollbar-thumb {
		background-color: var(--primary-color);
		outline: 1px solid var(--primary-color);
 	}

 	.left-content {
		display: none;
 	}

	.sidebar {
		position: fixed;
		visibility: hidden;
		opacity: 0;
		z-index: -1;
 	}

	.offcanvas-end .offcanvas-body {
		background-color: var(--color-4);
	}
}

.coll-head{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.content-col{
	margin-top: -5px;
}

.coll-sortby{
    padding: 10px 5px;
    align-items: center;
}

.coll-sortby select{
    margin-left: 5px;
    height: 30px;
    padding: 0 5px;
	padding-right: 20px;
}

@media(min-width: 1200px){
	.coll-head{
		padding-right: 5px;
	}
}

@media(max-width: 767px){
	.coll-sortby{
		width: 100%;
	}

	.coll-sortby .sort-cate #sort-by{
		padding: 0;
	}
}

#sort-by{
    position: relative;
}

#sort-by:after{
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	top: 12px;
	right: 4px;
	border-top: 6px solid;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}

.fa-chevron-down:before {
    content: "\f078"
}